/*
CSS Button Hover Effects is a button hover effects that you can use to your project.
Feel free if you want to contribute to adding more button effects, or want to add this style to other languages.

Author: Arifin Izzah (https://github.com/arifinizzah)
*/

$idwhite: #f8f3ff;
$idsatine: #F0E6FF;
$idpurple: #2D0367;
$idgreen: #00B0B8;

body{
  background-color: $idsatine;
  margin: 0;
  color: $idpurple;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  display: flex;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}

.container{
  background-color: $idwhite;
  height: 100%;
  width: 100vw;
  max-width: 768px;
  margin: 0 auto;
  //position: fixed;
}

h1{
  margin-top: 10vh;
  padding: 0 10px;
  text-align: center;
  font-weight: normal;
  font-size: 2.5em;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3vh 5vh;
}

button{
  margin: 10px;
  padding: 10px 20px;
  background: $idwhite;
  color: $idpurple;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2em;
  border: 2px solid $idpurple;
  transition: 0.25s;
  &:hover,
  &:focus{
    outline: none;
  }
}

.fill-up{
  &:hover,
  &:focus{
    color: $idwhite;
    box-shadow: inset 0 -3em 0 0 $idpurple;
  }
}

.fill-in{
  &:hover,
  &:focus{
    box-shadow: inset 0 0 0 2em $idgreen;
    border-color: $idgreen;
    color: $idwhite;
  }
}

.neumorphism{
  border: 0;
  border-radius: 5px;
  &:hover,
  &:focus{
    color: $idgreen;
    transform: translate(0, -5px);
    box-shadow:
      -5px -5px 15px #FFFFFF,
      5px 5px 15px #ede0ff;
  }
}

.raise{
  &:hover,
  &:focus{
    transform: translateY(-0.25em);
    box-shadow: 0 0.5em 0.5em -0.4em $idgreen;
    border-color: $idgreen;
    color: $idgreen;
  }
}

.slide{
  &:hover,
  &:focus{
    box-shadow: inset 6.5em 0 0 0 $idgreen;
    border-color: $idgreen;
    color: $idwhite;
  }
}

.code-section{
  padding: 3vh 5vh 0 5vh;
}

.code-title{
  font-weight: 600;
  margin-bottom: 0;
}

pre[class*="language-"]{
  position: relative;
  overflow: visible;
  border-radius: 5px;
  &:hover .copy{
    transform: translate(0px, -100%);
    padding-bottom: 5px;
  }
  .copy{
    content: "copy";
    padding: 2px 10px 3px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0px, -100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #C49CFC;
    background: #F0F0F0;
    cursor: pointer;
    transition: all 200ms ease;
    &:hover{
      color: $idpurple;
    }
  }
}

code {
  max-height: 250px;
  border-radius: 10px;
  overflow: scroll;
  &.hljs{
    &::-webkit-scrollbar{
      background-color: #F0F0F0;
      width: 15px;
    }
    &::-webkit-scrollbar-track{
      background-color: #F0F0F0;
    }
    &::-webkit-scrollbar-thumb{
      background-color: #C49CFC;
      border-radius: 15px;
      border: 5px solid #F0F0F0;
    }
  }
}

footer{
  margin-top: 5vh;
  text-align: center;
  padding: 0 5vw 20px 5vw;
}